*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-gray: #4A5567;
    --gray: #eee;
    --blue: #4979A9;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}