*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-gray: #4A5567;
    --gray: #eee;
    --blue: #4979A9;
    --dark-blue: #104E8B;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

.App {
    width: 100%;
}

h2 {
    text-align: center;
    font-size: 3.5rem;
    margin: 1rem 0;
    width: 100%;
}